Repository EasyBackend/EasyBackend, changes with the labels that .github/labeler.yml gives for each.
All labels: utils, cli-utils, types, initial-cli, builder-cli, prebuilt-actions, custom-type, custom-action, package, workflows, tests

.github/labeler.yml:

utils:
  - src/utils/**/*
cli-utils:
  - src/cli/cli-utils/**/*
types:
  - src/types/**/*
initial-cli:
  - src/cli/initial-cli.ts
builder-cli:
  - src/cli/builder-cli.ts
prebuilt-actions:
  - src/cli/action-clis/prebuilt-actions/**/*
custom-type:
  - src/cli/action-clis/custom-type/**/*
custom-action:
  - src/cli/action-clis/custom-action/**/*
package:
  - app/package.json
workflows:
  - .github/workflows/**/*
tests:
  - __tests__/**/*

feat: work on creation of custom type - add history and storage for Trackers
  src/cli/action-clis/custom-type/custom-type.cli.ts
  src/cli/action-clis/custom-type/custom-type.util.ts
  src/cli/action-clis/prebuilt-actions/prebuilt-actions.cli.ts
  src/cli/builder-cli.ts
  src/cli/cli-utils/consts.ts
  src/cli/cli-utils/delete.ts
  src/cli/cli-utils/index.ts
  src/cli/cli-utils/navigation.ts
  src/cli/cli-utils/print.ts
  src/types/trackers.ts
  src/utils/BaseTracker.util.ts
  src/utils/GqlProjectTracker.util.ts
  src/utils/RestProjectTracker.util.ts
  src/utils/index.ts
Labels: utils, cli-utils, types, builder-cli, prebuilt-actions, custom-type

Update npm-version.yml
  .github/workflows/npm-version.yml
Labels: workflows

Update npm-version.yml
  .github/workflows/npm-version.yml
Labels: workflows

.
  .github/workflows/lint.yml
  .github/workflows/npm-version.yml
  .github/workflows/test.yml
  package.json
Labels: workflows

Update npm-version.yml
  .github/workflows/npm-version.yml
Labels: workflows

chore(release): 1.2.1
  CHANGELOG.md
  package-lock.json
  package.json
Labels: none

1.3.0
  package-lock.json
  package.json
Labels: none

chore(release): 1.3.1
  CHANGELOG.md
  package-lock.json
  package.json
Labels: none

feat: work on the "create a new custom type" feature
  src/cli/action-clis/custom-type/custom-type.cli.ts
  src/cli/action-clis/custom-type/custom-type.util.ts
  src/cli/cli-utils/consts.ts
  src/types/trackers.ts
  src/utils/BaseTracker.util.ts
  src/utils/GqlProjectTracker.util.ts
  src/utils/RestProjectTracker.util.ts
  src/utils/consts.util.ts
  src/utils/file.util.ts
  src/utils/index.ts
Labels: utils, cli-utils, types, custom-type

feat: work on the Create a custom type feature
  src/cli/action-clis/custom-type/custom-type.cli.ts
  src/cli/action-clis/custom-type/custom-type.util.ts
  src/cli/action-clis/input-validations/customType.validation.ts
  src/cli/action-clis/input-validations/index.ts
  src/cli/action-clis/input-validations/validation.util.ts
  src/cli/cli-utils/consts.ts
  src/cli/cli-utils/enums.ts
  src/cli/cli-utils/index.ts
  src/cli/cli-utils/print.ts
  src/types/index.ts
  src/types/trackerStorage.ts
  src/types/trackers.ts
  src/utils/BaseTracker.util.ts
  src/utils/consts.util.ts
Labels: utils, cli-utils, types, custom-type

fix: upgrade inquirer from 8.1.2 to 8.1.3
  package-lock.json
  package.json
Labels: none

fix: upgrade prettier from 2.3.2 to 2.4.0
  package-lock.json
  package.json
Labels: none

.
  src/cli/action-clis/custom-type/custom-type.util.ts
  src/cli/action-clis/input-validations/customType.validation.ts
  src/cli/action-clis/input-validations/validation.util.ts
  src/cli/cli-utils/consts.ts
  src/types/customType.ts
  src/types/index.ts
  src/utils/BaseTracker.util.ts
Labels: utils, cli-utils, types, custom-type

.
  package.json
  src/cli/action-clis/custom-type/custom-type.util.ts
  src/cli/action-clis/input-validations/customType.validation.ts
  src/cli/action-clis/input-validations/validation.util.ts
  src/cli/cli-utils/delete.ts
Labels: cli-utils, custom-type

fix: upgrade ts-node from 10.2.1 to 10.3.0
  package-lock.json
  package.json
Labels: none

chore(release): 1.3.2
  CHANGELOG.md
  package-lock.json
  package.json
Labels: none

chore(release): 1.3.2
  CHANGELOG.md
  package-lock.json
  package.json
Labels: none

chore(release): 1.3.3
  CHANGELOG.md
  package-lock.json
  package.json
Labels: none

fix: upgrade inquirer from 8.1.3 to 8.2.0
  package-lock.json
  package.json
Labels: none

fix(prompt.util.ts, delete.util.ts): fix the bug that asks you to confirm type creation twice
  src/cli/v2/builder/actions/customType/customType.cli/custom-type.cli.ts
  src/cli/v2/builder/actions/customType/customType.utils/delete.util.ts
  src/cli/v2/builder/actions/customType/customType.utils/prompt.util.ts
Labels: none

refactor: create a new prompt directory for .prompt.ts files
  src/cli/v2/builder/actions/customType/customType.cli/custom-type.cli.ts
  src/cli/v2/builder/actions/customType/customType.utils/index.ts
  src/cli/v2/builder/actions/customType/customType.utils/prompt.util.ts
  src/cli/v2/builder/actions/customType/customType.utils/prompts/collectProps.prompt.ts
  src/cli/v2/builder/actions/customType/customType.utils/prompts/confirm.prompt.ts
  src/cli/v2/builder/actions/customType/customType.utils/prompts/index.ts
  src/cli/v2/builder/actions/customType/customType.utils/prompts/typeName.prompt.ts
Labels: none

feat: add option to edit custom typeProps during creation
  src/cli/v2/builder/actions/customType/customType.cli/custom-type.cli.ts
  src/cli/v2/builder/actions/customType/customType.utils/delete.util.ts
  src/cli/v2/builder/actions/customType/customType.utils/print.util.ts
  src/cli/v2/builder/actions/customType/customType.utils/prompts/confirm.prompt.ts
  src/cli/v2/builder/actions/customType/customType.utils/prompts/editProps.prompt.ts
Labels: none

style: just some code cleanup, remove unecessary imports from editProps.prompt.ts
  src/cli/v2/builder/actions/customType/customType.utils/prompts/editProps.prompt.ts
Labels: none

feat: 🎸 Finish work on editing props while creating custom type
  src/cli/v1/action-clis/input-validations/customType.validation.ts
  src/cli/v2/builder/actions/customType/customType.cli/custom-type.cli.ts
  src/cli/v2/builder/actions/customType/customType.utils/prompts/collectProps.prompt.ts
  src/cli/v2/builder/actions/customType/customType.utils/prompts/editProps.prompt.ts
  src/cli/v2/builder/actions/customType/customType.validations/input-validations/index.ts
Labels: none

feat(src/api/**/*, src/cli/v2/**/*): huge refactoring + feat: unify how we deal with validation&more
  src/api/v1/controllers/create/customType/index.ts
  src/api/v1/controllers/index.ts
  src/cli/v1/action-clis/input-validations/customType.validation.ts
  src/cli/v1/cli-utils/load.ts
  src/cli/v2/builder/actions/customType/customType.cli/custom-type.cli.ts
  src/cli/v2/builder/actions/customType/customType.utils/custom-type.util.ts
  src/cli/v2/builder/actions/customType/customType.utils/prompts/collectProps.prompt.ts
  src/cli/v2/builder/actions/customType/customType.utils/prompts/confirm.prompt.ts
  src/cli/v2/builder/actions/customType/customType.utils/prompts/editProps.prompt.ts
  src/cli/v2/builder/actions/customType/customType.utils/prompts/typeName.prompt.ts
  src/cli/v2/builder/actions/customType/customType.validations/input-validations/customType.validation.ts
  src/cli/v2/builder/builder.cli/builder-cli.ts
  src/types/customType.ts
  src/types/returnValues.ts
  src/utils/BaseTracker.util.ts
  src/utils/enums.ts
Labels: utils, types

refactor: some API refactoring
  package-lock.json
  package.json
  src/api/v1/app.ts
  src/api/v1/controllers/create/customType/index.ts
  src/api/v1/controllers/index.ts
  src/api/v1/index.ts
  src/api/v1/routes/customType/customType.create.ts
  src/api/v1/routes/customType/index.ts
  src/api/v1/routes/index.ts
  src/cli/v2/builder/actions/customType/customType.validations/input-validations/customType.validation.ts
  src/db/connection.ts
  src/templates/rest/typescript/full/package.json
  src/types/express/index.d.ts
  src/utils/index.ts
  src/utils/notFound.util.ts
  src/utils/withTryCatch.util.ts
Labels: utils, types

fix(npm-version.yml): fix the npm-version ci/cd
  .github/workflows/npm-version.yml
Labels: workflows

trying to fix ci/cd
  .github/workflows/npm-version.yml
Labels: workflows

test
  .github/workflows/lint.yml
Labels: workflows
