Repository EasyBackend/EasyBackend, changes with the labels that .github/labeler.yml gives for each.
All labels: utils, cli-utils, apiv1, apiv1-controllers, apiv1-routes, db, types, initial-cli, builder-cli, prebuilt-actions, custom-type, custom-action, package, workflows, tests

1.4.0
  package-lock.json
  package.json
Labels: none

feat: work on the create custom type feat
  package.json
  src/api/v1/controllers/create/customType/index.ts
  src/api/v1/controllers/index.ts
  src/api/v1/routes/customType/customType.create.ts
  src/bin/eb-launch-server
  src/cli/v2/builder/actions/customType/customType.cli/custom-type.cli.ts
  src/cli/v2/builder/actions/customType/customType.utils/prompts/confirm.prompt.ts
  src/cli/v2/init/init.cli/create-project.ts
  src/cli/v2/init/init.cli/launch-server.ts
  src/connectors/create/customType/customType.connector.ts
  src/connectors/index.ts
  src/controllers/create/customType/customType.util.ts
  src/controllers/create/customType/index.ts
  src/controllers/index.ts
  src/utils/create.util/index.ts
  src/utils/loadTracker.util.ts
Labels: utils, apiv1, apiv1-controllers, apiv1-routes

feat: work on creating a custom type, with a db schema
  future-plans.md
  src/cli/v1/action-clis/custom-type/custom-type.cli.ts
  src/cli/v1/action-clis/custom-type/custom-type.util.ts
  src/cli/v1/action-clis/input-validations/customType.validation.ts
  src/cli/v2/builder/actions/customType/customType.cli/custom-type.cli.ts
  src/cli/v2/builder/actions/customType/customType.utils/customType.questions.ts
  src/cli/v2/builder/actions/customType/customType.utils/delete.util.ts
  src/cli/v2/builder/actions/customType/customType.utils/print.util.ts
  src/cli/v2/builder/actions/customType/customType.utils/prompts/collectProps.prompt.ts
  src/cli/v2/builder/actions/customType/customType.utils/prompts/confirm.prompt.ts
  src/cli/v2/builder/actions/customType/customType.utils/prompts/editProps.prompt.ts
  src/cli/v2/builder/actions/customType/customType.utils/prompts/includeDBSchema.prompt.ts
  src/cli/v2/builder/actions/customType/customType.utils/prompts/index.ts
  src/cli/v2/builder/actions/customType/customType.utils/prompts/typeName.prompt.ts
  src/cli/v2/builder/actions/customType/customType.validations/input-validations/customType.validation.ts
  src/cli/v2/init/init.cli/create-project.ts
  src/cli/v2/init/init.cli/initial-cli.ts
  src/cli/v2/init/init.util/file.util.ts
  src/cli/v2/init/init.util/init.questions.ts
  src/controllers/create/customType/customType.util.ts
  src/controllers/create/customType/index.ts
  src/types/customType.ts
  src/types/options.ts
  src/types/trackerStorage.ts
  src/utils/BaseTracker.util.ts
  src/utils/create.util/index.ts
  src/utils/loadTracker.util.ts
  todo.md
Labels: utils, types

feat: work on creating a custom DB schema (will integrate with custom type creation)
  src/cli/v2/builder/actions/customType/customType.cli/custom-type.cli.ts
  src/cli/v2/builder/actions/customType/customType.utils/delete.util.ts
  src/cli/v2/builder/actions/customType/customType.utils/prompts/collectProps.prompt.ts
  src/cli/v2/builder/actions/customType/customType.utils/prompts/editProps.prompt.ts
  src/cli/v2/builder/actions/customType/customType.utils/prompts/includeDBSchema.prompt.ts
  src/cli/v2/builder/actions/customType/customType.utils/prompts/typeName.prompt.ts
  src/cli/v2/builder/actions/customType/customType.validations/input-validations/index.ts
  src/cli/v2/builder/actions/databaseSchema/databaseShema.utils/databaseShema.questions.ts
  src/cli/v2/builder/actions/databaseSchema/databaseShema.utils/index.ts
  src/cli/v2/builder/actions/databaseSchema/databaseShema.utils/prompts/chooseRequiredProps.prompt.ts
  src/cli/v2/builder/actions/databaseSchema/databaseShema.utils/prompts/chooseUniqueProp.prompt.ts
  src/cli/v2/builder/actions/databaseSchema/databaseShema.utils/prompts/index.ts
  src/controllers/create/customType/customType.util.ts
  src/controllers/create/customType/index.ts
  src/controllers/create/databaseSchema/databaseSchema.util.ts
  src/controllers/create/databaseSchema/index.ts
  src/controllers/index.ts
  src/controllers/input-validations/customType.validation.ts
  src/controllers/input-validations/databaseSchema.validation.ts
  src/controllers/input-validations/index.ts
  src/types/customType.ts
  src/types/databaseSchema.ts
  src/types/index.ts
  src/types/trackerStorage.ts
  src/utils/string/index.ts
  src/utils/string/toKeyTypeObject.util.ts
  todo.md
Labels: utils, types

feat: keep working on creating a custom type + DB schema
  src/cli/v1/action-clis/custom-type/custom-type.util.ts
  src/cli/v2/builder/actions/customType/customType.utils/customType.questions.ts
  src/cli/v2/builder/actions/customType/customType.utils/print.util.ts
  src/cli/v2/builder/actions/customType/customType.utils/prompts/confirm.prompt.ts
  src/cli/v2/builder/actions/databaseSchema/databaseShema.utils/databaseShema.questions.ts
  src/cli/v2/init/init.util/file.util.ts
  src/controllers/create/customType/index.ts
  src/controllers/create/databaseSchema/databaseSchema.util.ts
  src/controllers/create/databaseSchema/index.ts
  src/utils/string/capitalizeFirstLetter.ts
  src/utils/string/index.ts
  src/utils/string/toKeyTypeObject.util.ts
  todo.md
Labels: utils

feat: work on creating DB schemas!
  src/cli/v2/builder/actions/customType/customType.cli/custom-type.cli.ts
  src/cli/v2/builder/actions/customType/customType.utils/prompts/includeDBSchema.prompt.ts
  src/cli/v2/builder/actions/databaseSchema/databaseShema.utils/databaseShema.questions.ts
  src/cli/v2/builder/actions/databaseSchema/databaseShema.utils/prompts/chooseRequiredProps.prompt.ts
  src/cli/v2/builder/actions/databaseSchema/databaseShema.utils/prompts/chooseUniqueProp.prompt.ts
  src/controllers/create/customType/index.ts
  src/controllers/create/customType/transform-input/index.ts
  src/controllers/create/customType/transform-input/toTextInterface.ts
  src/controllers/create/databaseSchema/databaseSchema.util.ts
  src/controllers/create/databaseSchema/index.ts
  src/controllers/create/databaseSchema/transform-input/index.ts
  src/controllers/create/databaseSchema/transform-input/toSchemaProps.ts
  src/controllers/create/databaseSchema/transform-input/toTextDatabaseSchema.ts
  src/types/dbSchemaProp.ts
  src/types/index.ts
  src/utils/string/index.ts
  src/utils/string/toKeyTypeObject.util.ts
  todo.md
Labels: utils, types

fix: removed a workflow action
  .github/workflows/npm-version.yml
Labels: workflows

.github/labeler.yml:

utils:
  - src/utils/**/*
cli-utils:
  - src/cli/cli-utils/**/*
apiv1:
  - src/api/v1/**/*
apiv1-controllers:
  - src/api/v1/controllers/**/*
apiv1-routes:
  - src/api/v1/routes/**/*
db:
  - src/db/**/*
types:
  - src/types/**/*
initial-cli:
  - src/cli/initial-cli.ts
builder-cli:
  - src/cli/builder-cli.ts
prebuilt-actions:
  - src/cli/action-clis/prebuilt-actions/**/*
custom-type:
  - src/cli/action-clis/custom-type/**/*
custom-action:
  - src/cli/action-clis/custom-action/**/*
package:
  - app/package.json
workflows:
  - .github/workflows/**/*
tests:
  - __tests__/**/*
